:root {
  --primary-color: #000000;
  --secondary-color: rgba(218, 216, 223);
  --accent-color: #1AB2A8;
  --color-red-light: #FF3366;
  --color-white: #fff;
  --primary-font: 'Playfair Display', serif;
  --accent-font: 'Nunito', sans-serif;
  --transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  --typewriterSpeed: 2s;

}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--primary-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Playfair Display', serif;
  color: var(--color-white);
}

h1 {
  font-size: 60px;
}


p {
  font-family: 'Nunito', sans-serif;
  color: var(--secondary-color);
}

.nav-item {
    padding-inline: 10px;
}


.nav-link.active {
    border-bottom:2px solid var(--color-red-light);
    width: fit-content;
}

.custome-toggler {
  border: 2px solid var(--accent-color);
  padding: 8px;
}

.hero {
  background-color: var(--primary-color);
}

span {
  color: var(--accent-color);
  position: relative;
  overflow: hidden;
}

.typing h2 {
  font-weight: 700;
  letter-spacing: 0.125rem;
}

.text_1 {
  animation: text1;
}

.text_2 {
  animation: text2;
}

.text_1,
.text_2 {
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
  position: relative;
  animation-duration: 20s;
  animation-timing-function: steps(19, end);
  animation-iteration-count: infinite;
  vertical-align: top;
}

.text_1::after,
.text_2::after {
  content: "|";
  position: absolute;
  right: 0;
  animation: caret infinite;
  animation-duration: 1s;
  animation-timing-function: steps(1, end);
}


@keyframes text1 {

  0%,
  50%,
  100% {
    width: 0;
  }

  10%,
  40% {
    width: 11em;
  }
}

@keyframes text2 {

  0%,
  50%,
  100% {
    width: 0;
  }

  60%,
  90% {
    width: 9.5em;
  }
}

@keyframes caret {

  0%,
  100% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
}
.desc {
  max-width: 500px;
  line-height: 1.5;
}

.contact-btn {
  display: inline-block;
  margin-top: 10px;
  padding: 12px 20px;
  color: var(--accent-color);
  border-radius: 3px;
  border: 1px solid var(--accent-color);
  text-decoration: none;
  font-size: 18px;
  cursor: pointer;
  transition: var(--transition);
}

.contact-btn:hover {
  color: var(--accent-color);
}


/**************About section**************/
.about {
   background:#2a2929;
   position: relative;
   z-index:0 ;
   margin-top: 6rem;
   
}

.image-section {
    position: relative;
    max-width: 220px;
    /* max-width: 300px; */
    margin-left: 35px;
}

.wrapper-img::before,
.wrapper-img::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 3px;
    transition: var(--transition);
}

.wrapper-img:after {
    border: 2px solid var(--accent-color);
    top: 20px;
    left: 25px;
    z-index: -1;
}

.wrapper-img img {
    margin-top: -10px;
    width: 220px;
    height: 340px;
}

.greeting{
    color: var(--accent-color);
    font-size: 18px;
    font-weight:700;
}
.greeting::after{
    content: "";
    display: block;
    position: relative;
    /* margin-top: px; */
    top: -10px;
    width: 40px;
    height: 2px;
    margin-left: 2.20rem;
    background-color:var(--accent-color);
}

.about-bio h2 {
    font-size: 25px;
    opacity: 0.85;
}
hr{
    height:2px;
    border-width:0;
    background-color:var(--secondary-color);
    margin-top: 2rem;
}

.bio-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px , 1fr));
    gap: 0 0.5rem;
    padding: 0;
    overflow: hidden;
    color: var(--color-white);
    list-style: none;
}
.bio-list li{
   padding-block: 10px;
}
.personal-info{
    font-size: 14px;
    padding-top: 0.5rem;
}

.about-bio .resume{
    padding: 8px 25px;
    background-color: var(--accent-color);
    color: var(--color-white);
    font-size: 18px;
    margin-right: 0.5rem;
    border: none;
}
.about-bio .hiring{
    padding: 8px 25px;
    background-color: transparent;
    border: 1px solid var(--accent-color);
    color:var(--accent-color);
    font-size: 18px;
}


/*************portfolio section**************/

.projects-content {
   padding: 1.5rem;
   box-shadow:0px 1px 26px 3px rgb(82, 83, 83);
   border-radius: 8px;
}
.projects-content .links{
    display: flex;
    justify-content: space-between;
}

.links a{
    color: var(--accent-color);
    text-decoration: none;

}
.featured-project p:nth-child(1) {
    margin: 10px 0px;
    color: var(--accent-color);
    font-size: 18px;
    font-weight: 400;

}
.featured-project p:nth-child(2) {
    font-size: 22px;
    font-weight: 700;
}
.my-projects .heading{
    margin-bottom: 3rem;
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    color: var(--accent-color);
}

.project-image img{
    width: 500px;
}
/************ Technical skill section *************/
.my-skills{
    background-color:#2a2929;
    padding-block: 5rem;
}

.skill-list{
    color: var(--accent-color);
    font-weight: 700;
    font-size: 30px;
}
.progress-label{
    display: flex;
    justify-content: space-between;
    padding-top: 1.5rem;
}
.progress-bar{
    background-color: var(--secondary-color);
    width: 100%;
    height: 5px;
    border-radius: 2px;
    position: relative;
}
.progress-bar span{
    position: absolute;
    /* width: 50%; */
    height: 100%;
    background-color: var(--accent-color);
}
.tech-skill{
    margin-left: 5rem;
}
/*************Contact section  ****************/
.contact h4{
    text-align: center;
    color: var(--accent-color);
    margin-top: 4rem;
}
.contact p{
    max-width: 550px;
    text-align: center;
    margin: 20px auto;
    font-size: 18px;
}
.icons{
    text-align: center;
    margin-block: 4rem;
}
.icons i{
    color: var(--color-white);
    font-size: 30px;
    cursor: pointer;
    padding-inline: 25px;
    transition: var(--transition);
}
.icons i:hover{
    color: var(--accent-color);
}


@media (max-width:768px){
    .tech-skill{
        margin-left: 0;
    }
    .greeting{
        padding-top: 2.5rem;
    }
}
